[submodule "loghi"]
	path = loghi
	url = git@github.com:knaw-huc/loghi.git
[submodule "Image2Table-LLM"]
	path = Image2Table-LLM
	url = https://github.com/Shoilee/Image2Table-reconstruction-with-llm.git 