# Ignore system files and directories
.vscode/

*/__pycache__/
*/*.pyc
*/.DS_Store  
.git/ 
.idea/
output/*
.DS_Store
.env
# ignore specific files and directories
BoundingBoxDetection
src/LLM_key.py
src/webapp/uploads/*
src/information_extraction_LLM
## Ignore experiment files and notebooks
exp-1
exp-2
src/*.ipynb
# Ignore image samples
samples/
image_samples
image_samples/*.done
image_samples/page
## Ignore data files
data/*
!data/examples/
!data/schema/
!data/labels/
/data/labels/sarah
/data/labels/victor
/data/labels/info/*
/data/turtles
/data/labels/NL*
stamboek_*/
ground_truth.zip
ground_truth
bronbeek_stamboeken

